<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<br>  

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<form
        *ngIf = "!isSuccessful"
        (ngSubmit)="onSubmit()"
        #f="ngForm"
        novalidate
    >
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" class="form-control" placeholder="Full name" type="text"
         [(ngModel)] = "user.name"
         required
         minlength="3"
         maxlength="20"
         #name="ngModel"
        >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" placeholder="Email address" type="email"
         [(ngModel)]="user.email"
         required
         #email="ngModel"
        >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
    	<input name="phone" class="form-control" placeholder="Phone number" type="text"
            [(ngModel)]="user.phone"
            required
            #phone="ngModel"
        >
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-male"></i> </span>
            <div class="input-group-text" style="margin-right: 10px;">
                <input type="radio" aria-label="Radio button for following text input" value="male" name="gender" checked style="margin-right: 5px;"
                    [(ngModel)]="user.gender"
                    #gender="ngModel"
                >
                <span>Male</span>
            </div>
            <span class="input-group-text"> <i class="fa fa-female"></i> </span>
            <div class="input-group-text">
                
                <input type="radio" aria-label="Radio button for following text input" value="female" name="gender" style="margin-right: 5px;"
                    [(ngModel)]="user.gender"
                    #gender="ngModel"
                >
                <span>Famale</span>
            </div>
        </div>

    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-key"></i> </span>
		 </div>
        <input name="username" class="form-control" placeholder="User name" type="text"
         [(ngModel)] = "user.username"
         required
         minlength="3"
         maxlength="20"
         #username="ngModel"
        >
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password"
            name="password"
            [(ngModel)] = "user.password"
            minlength="6"
            #password="ngModel"
        >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password">
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->